<div class="container">

  <div class="header">
    <h2>SpaceX Launch Program</h2>
  </div>

  <div class="content">
    <div class="left-content">
      <h3>Filters</h3>
      <div class="txt-center">
        <p>Launch Year</p>
        <hr>
        <div class="filter-year">
          <div *ngFor="let allyear of allLaunchYear; let i = index" class="width-filter">
              <button class="btn-green" (click)="filterYear(allyear)" tabindex="{{i+1}}">
                {{allyear}}
              </button>
          </div>
        </div>
      </div>
      <div class="txt-center">
        <p>Successful Launch</p>
        <hr>
        <div class="filter-launch">
         <div class="width-filter">
          <button class="btn-green" (click)="filterLaunch($event)" tabindex="1">True</button>
         </div> 
         <div class="width-filter">
          <button class="btn-green" (click)="filterLaunch($event)" tabindex="2">False</button>
        </div>
        </div>
      </div>
      <div class="txt-center">
        <p>Successful Land</p>
        <hr>
        <div class="filter-land">
          <div class="width-filter">
            <button class="btn-green" (click)="filterLand($event)" tabindex="1">True</button>
          </div>
          <div class="width-filter">
            <button class="btn-green" (click)="filterLand($event)" tabindex="2">False</button>
          </div>
        </div>
      </div>
    </div>

    <div class="right-content width-right">
      <div *ngFor="let cardLaunch of detailLaunch" class="launch-card">
        <div class="card-inner">
          <div class="img-container">
            <img src="{{cardLaunch.links.mission_patch_small}}" alt="Loading.." class="card-img"/>
          </div>
          <h4>
            {{cardLaunch.mission_name}} # {{cardLaunch.flight_number}}
          </h4>
          <h4 *ngIf="cardLaunch.mission_id!=''">
            Mission_ID:
            <ul>
              <li>{{cardLaunch.mission_id}}</li>
            </ul>
          </h4>
          <h4>
            Launch Year:
            <span>{{cardLaunch.launch_year}}</span>
          </h4>
          <h4>
            Successful Launch:
            <span>{{cardLaunch.launch_success}}</span>
          </h4>
          <h4>
            Successful Landing:
            <span>{{cardLaunch.rocket.first_stage.cores[0].land_success}}</span>
          </h4>
        </div>
      </div>
      <div *ngIf="detailLaunchLength == 0" class="txt-center width-right">
        <h1>No Record Found !!!</h1>
      </div>
    </div>
  </div>

  <div class="footer">
      <div><b>Developed By: </b>Harshitha Manohar</div>
  </div>
</div>